<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <base href="/">

    <link rel="stylesheet" href="css/style.css">

</head>
<body>
<section id="cadastro" class="cadastro">

   <%- include('partials/navbar.ejs')%>
<br><br>
    <%  if (typeof message !== 'undefined') { %>
    <%= message %> 
    <% } %> 
<br><br><br>

    <div>
        <h2>Déjame tus dados y me pondré en contacto contigo</h2>
    

        <form id="myForm" action="register/add" method="POST">
       <div  class="personal-data" action="register/add" method="POST">
         <div class="input-wrapper">
            <label>Nombre:</label>
            <input type="text" id="nombre"  name="name" placeholder="Escribe tu nombre">
         </div>
         <div class="input-wrapper">
            <label>E-mail:</label>
            <input type="text" id="email" name="email" placeholder="Escribe tu E-mail">
         </div>
         <div class="input-wrapper">
            <label>Teléfono:</label>
            <input type="text" id="telefono" name="phone" placeholder="Escribe tu teléfono">
         </div>
         <div class="input-wrapper">
            <label>Contraseña:</label>
            <input type="text" name="password" placeholder="Digite a sua senha">
         </div>
         <div class="input-wrapper">
            <label>Tipo de servicio:</label>
            <select id="tipoServicio">
                <option value="">-- Selecione --</option>
                <option value="Programador Frontend">Programador Frontend</option>
                <option value="Programador backend">Programador backend</option>
                <option value="Programador Full stack">Programador Full stack</option>
            </select>
         </div>
      </div>

      <div class="mensaje">
      <label >Mensaje:</label>
      <textarea name="mensaje" placeholder="Por favor, déjame algunas informaciones acerca del trabajo." ></textarea>
      </div>

      <button type="submit">Cadastrar</button>

      
    </form>


    </div>

   </section>

   <script src="js/main.js"></script>

</body>
</html>